<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>702992625077-9nqk3oog5jej5cvju67r8l6sksmro6lm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702992625077-9nqk3oog5jej5cvju67r8l6sksmro6lm</string>
	<key>API_KEY</key>
	<string>AIzaSyDpyaoLW59ZAW8OlY2dETWWDceGb7SuRPY</string>
	<key>GCM_SENDER_ID</key>
	<string>702992625077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.InitialInteractive.KnQ</string>
	<key>PROJECT_ID</key>
	<string>kingsandqueens-b8024</string>
	<key>STORAGE_BUCKET</key>
	<string>kingsandqueens-b8024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702992625077:ios:572f7dec9345c564</string>
	<key>DATABASE_URL</key>
	<string>https://kingsandqueens-b8024.firebaseio.com</string>
</dict>
</plist>